body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sun {
  display: block;
  margin: 0 auto;
  width: 150px;
}

h2 {
  color: #32292f;
  position: relative;
  padding: 20px;
}
.card {
  background: #4e8de2;
  color: white;
  padding: 2em;
  border-radius: 50px;
  max-width: 600px;
  margin: 0px auto;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  border-radius: 100px;
  color: black;
  margin: 0%;
  padding: 25px;
  border-color: white;
  font-size: 17px;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 55px;
  width: 60px;
  background: white;
  color: black;
  cursor: pointer;
}
button:hover {
  background: #7c7c7c6b;
}
input.bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: white;
  color: black;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}
.time {
  text-align: end;
  margin-top: 0;
  position: relative;
  top: -10px;
  color: rgb(33, 33, 33);
}
.rounded-circle {
  text-align: justify;
  font-size: 17px;
  color: #32292f;
  font-weight: 100;
  padding: 0;
  margin: 0;
}
.units {
  position: relative;
  top: -35px;
  color: #32292f;
}
.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  font-size: 64px;
  color: rgb(33, 33, 33);
}
