.weather-icon img {
  display: block;
  margin: 0 auto;
  width: 155px;
  top: -30px;
}
h1 {
  color: #fefdfe;
  text-align: center;
  padding: 16px;
  font-size: 35px;
}
.card {
  background: #b48cb8;
  padding: 3em;
  border-radius: 15px;
  max-width: 450px;
  margin: 35px auto;
  font-family: "Roboto Condensed", sans-serif;
  border-color: black;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 55px;
  width: 60px;
  background: white;
  color: black;
  cursor: grab;
}
button:hover {
  background: #6c567b;
}
input.bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: whitesmoke;
  color: black;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}
input.bar:hover {
  background: #6d6087;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #fefdfe;
  text-align: right;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
.loading {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  font-size: 64px;
  color: #fefdfe;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  top: -34px;
  left: 220px;
}

.weather-temperature .active {
  color: #fefdfe;
  cursor: default;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #fefdfe;
}
.weather-forecast-date {
}
