.icon {
  width: 150px;
  display: block;
  margin: auto;
}
h2 {
  color: #32292f;
  text-align: center;
  padding: 20px;
}
.card {
  background: linear-gradient(-225deg, #b6cee8 0%, #f578dc 100%);
  padding: 2em;
  border-radius: 15px;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  display: block;
  border-color: purple;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 55px;
  width: 60px;
  background: #fcf4d9;
  color: black;
  cursor: pointer;
}
button:hover {
  background: #ffffff;
}
input.bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #fcf4d9;
  color: black;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}
.time {
  text-align: left;
  margin-top: 0;
  position: relative;
  top: -10px;
  color: rgb(33, 33, 33);
}
.rounded-circle {
  text-align: justify;
  font-size: 17px;
  color: #32292f;
  font-weight: 100;
  padding: 0;
  margin: 0;
}
.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  font-size: 64px;
  color: rgb(33, 33, 33);
}
li {
  list-style: none;
  color: #32292f;
}

li:first-letter {
  text-transform: capitalize;
}
